source_env_if_exists .envrc.override
source_env_if_exists .envrc.secrets

export AWS_DEFAULT_REGION="us-east-1"
export AWS_REGION="us-east-1"
# Set AWS_ACCESS_KEY_ID, AWS_SECRET_ACCESS_KEY and AWS_SESSION_TOKEN
# in .envrc.secrets which does not get committed to git.

export KNOWLEDGE_BASE_1_ID=CGM7IW6K5N
export KNOWLEDGE_BASE_2_ID=C5Z0MTKCDQ
export SYSTEM_FUNCTION_1_NAME=team-PetStoreInventoryManagementFunction-uRow08ojBb6P
export SYSTEM_FUNCTION_2_NAME=team-PetStoreUserManagementFunction-8yCr6nXAGKSJ
